:root {
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
    color: #FFFFFF;
  }
}

.page {
  background: #2A2C2F;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.header__logo {
  width: 142px;
  height: 42px;
}

.header__lang-links {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
}

.header__lang-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
}

.header__lang-link:last-child {
  margin-left: 18px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 28px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .header__logo {
    width: 176px;
    height: 52px;
  }

  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .header {  
  }
}

.lead {
  margin-top: 48px;
}

.lead__title {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}

.lead__subtitle {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.lead__figure {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 40px;
}

.lead__main-illustration {
  width: 100%;
}

.lead__caption {
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .lead {
  }
  .lead__title {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0px;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
  }

  .lead__subtitle {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 32px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .lead__figure {
    margin-top: 56px;
  }

  .lead__main-illustration {
    
  }

  .lead__caption {
    margin-left: 24px; 
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .lead {
  }
  .lead__title {
    margin-left: 152px;
    margin-right: 152px;
    margin-bottom: 0px;
  }

  .lead__subtitle {
    margin-left: 192px;
    margin-right: 192px;
    margin-bottom: 0px; 
  }

  .lead__figure {
    margin-left: 48px;
    margin-right: 48px;
  }

  .lead__main-illustration {
  }


  .lead__caption {
    margin-left: 48px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
  }
  .lead__title {
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 0px;
    margin-top: 56px;
  }

  .lead__subtitle {
    margin-left: 320px;
    margin-right: 320px;
    margin-bottom: 0px; 
  }

  .lead__figure {
    margin-left: 148px;
    margin-right: 148px;
    margin-top: 64px;
  }

  .lead__main-illustration {
  }

  .lead__caption {
    margin-left: 148px;
    margin-bottom: 0px;
  }
}