.cover {
  margin-top: 66px;
}
@media screen and (min-width: 768px) {
  .cover {
    margin-top: 85px;
  }
}
@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}
@media screen and (min-width: 1280px) {
  .cover {
    margin-left: 48px;
    margin-right: 48px;
  }
}