.intro__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 86%;
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    max-width: 720px;
  }
}